# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Logs
logs/
*.log

# Local Data
data/raw/*
data/processed/*

# Keep directories
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/